.panel-heading {
    text-align: center;
}
.alert {
    margin-bottom: 10px;
}
.alert .btn {
    margin-right: 5px;
}
.progress {
    position: relative;
    height: 34px;
    margin-bottom: 0;
    background-color: rgb(160, 160, 160);
    background-image: none;
}
.progress span {
    position: absolute;
    display: block;
    padding: 6px 0;
    width: 100%;
    text-align: center;
    color: white;
}
.progress-greyed span {
    color: rgb(224, 224, 224);
}
.progress + .progress {
    margin-top: 5px;
}
#battleStage {
    position: relative;
    background-image: url(stage.jpg);
    background-size: 100%;
}
#battlePlayer {
    position: absolute;
    bottom: 32%;
}
#battleEnemies {
    position: absolute;
    right: 20px;
    width: 60%;
    height: 65%;
}
#battleEnemies .enemy {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 10%;
}
#battleEnemies .enemy-flying-low {
    margin-bottom: 5%;
}
#battleEnemies .enemy-flying-high {
    margin-bottom: 40%;
}
